{% extends 'main/base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center animate__animated animate__fadeInDown">Наши услуги</h1>
    <div class="row">
        {% for service in services %}
        <div class="col-md-4 mb-4 animate__animated animate__fadeInUp">
            <div class="card">
                {% if service.image %}
                <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}